/* Base */

@media all {
  /* Activation de box-sizing */
  .box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  }

  * {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  p {
    font-family: "Raleway", sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

/* Layout */

/* All Media*/
@media all {
  .s-filters {
    min-height: 100px;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
  }

  .p-fil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: fit-content;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

  .filters {
    height: 50%;
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .filter {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: fit-content;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .filter a {
    font-size: 18px;
    width: fit-content;
  }

  .fa-money-bill-wave,
  .fa-child,
  .fa-dog,
  .fa-heart {
    margin-left: -5px;
    padding: 15px 5px 5px 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #0065fc;
    background-color: #deebff;
  }

  .pad-icons {
    padding-right: 20px;
    margin-left: 15px;
  }

  /* Disclaimer Section */
  .disclaimer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 60px;
  }

  .fa-info {
    color: #0065fc;
    height: 25px;
    width: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding: 10px 5px 2px 8px;
  }

  .h2-disclaimer {
    margin-left: 10px;
  }

  /* Card Section */
  .card {
    width: 250px; /*1*/
    margin: 0px auto; /*2*/
    margin-top: 30px;
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
    border: 5px solid white;
    border-radius: 10px 10px 10px 10px;
  }

  .card a {
    text-decoration: none;
  }
  .card:hover .card-image img {
    /*6*/
    width: 160%;
  }

  .card-image {
    height: 100px; /*1*/
    position: relative; /*2*/
    overflow: hidden; /*3*/
    border-radius: 10px 10px 0 0;
  }
  .card-image img {
    width: 150%; /*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*7 - Transition */
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .card-body {
    text-align: left; /*1*/
    padding: 5px; /*2*/
    box-sizing: border-box; /*3*/
  }

  .card-title {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }

  .card-excerpt {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .card-excerpt span {
    font-weight: bold;
  }

  .full {
    color: #0065fc;
  }
  .empty {
    color: #f2f2f2;
  }

  .mcard {
    height: 125px;
    width: 340px; /*1*/
    display: flex;
    justify-content: space-between;
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
    border: 5px solid white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .a-card {
    display: flex;
    flex-direction: row;
  }

  .mcard-image {
    width: 120px;
    height: auto; /*1*/
    position: relative; /*2*/
    overflow: hidden; /*3*/
    border-radius: 10px 0 0 10px;
  }
  .mcard-image img {
    width: 150%; /*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*7 - Transition */
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .mcard:hover .mcard-image img {
    /*6*/
    width: 160%;
  }

  .margin-card {
    margin-top: 5px;
    margin-left: 10px;
  }

  .margin-icn {
    position: absolute;
    margin-top: 15px;
  }

  .main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .cards-containers {
    background-color: #f2f2f2;
    height: fit-content;
    width: 67%;
    margin: 20px 10px 20px 60px;
    padding: 20px;
    border-radius: 10px;
  }

  .most-popular {
    background-color: #f2f2f2;
    height: fit-content;
    width: 33%;
    margin: 20px 30px 20px 10px;
    padding: 20px;
    border-radius: 10px;
  }

  .card-struc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-h1 {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
  }

  .card-h2 {
    margin: 0;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
  }

  .mp-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
  }

  .fa-chart-line {
    margin: 20px 0 0 20px;
  }

  /* Activités box */

  .activities {
    margin: 0;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }

  .acti-box {
    margin-left: 60px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
  }

  .acti-box .acti {
    margin: 10px;
    width: 20%;
    background: yellowgreen;
    border: 5px solid black;
  }
  .acti-box .acti:nth-child(1),
  .acti-box .acti:nth-child(4) {
    height: 100%;
  }

  .acti-box .acti:nth-child(2),
  .acti-box .acti:nth-child(6) {
    height: 55%;
  }

  .acti-box .acti:nth-child(3),
  .acti-box .acti:nth-child(5) {
    height: 35%;
  }

  .acti {
    height: 100%;
    width: 100%;
  }

  .acti-image {
    height: 100px;
    width: 50px;
    overflow: hidden;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    margin-top: 15px;
  }

  footer div {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
    margin: 60px;
  }

  footer h3 {
    margin-bottom: 15px;
  }

  ul li {
    list-style: none;
    margin-top: 15px;
  }
}

/* PC */
@media (min-width: 992px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 120px;
    margin: 0 50px 0 50px;
    background-color: white;
  }

  .logo {
    height: 120px;
    width: 150px;
    padding: 50px 50px 30px 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 120px;
    width: 30%;
    margin: 0 30px 0 30px;
  }

  .menu li {
    height: 120px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 70px;
    list-style-type: none;
  }

  .menu li:hover {
    border-top: 5px solid #0065fc;
    padding-top: 65px;
  }

  .menu li:hover a {
    color: #0065fc;
  }

  h1 {
    font-size: 22px;
    margin-left: 60px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-left: 60px;
  }

  /* Search bar */
  .search-div {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 60px;
  }

  .search-form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  .search {
    width: 250px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search-btn {
    height: 49px;
    width: 120px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 0 15px 15px 0;
  }

  .search-btn:hover {
    border: 1px solid white;
  }

  .search-display {
    display: none;
  }

  .search-icn {
    display: none;
  }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 992px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    margin: 0 50px 0 50px;
    background-color: white;
  }

  .logo {
    height: 120px;
    width: 150px;
    padding: 50px 50px 30px 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    width: 30%;
    margin: 0 50px 0 0px;
  }

  .menu li {
    height: 120px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 70px;
    margin: 0 10px 0 10px;
    list-style-type: none;
  }

  .menu li:hover {
    border-top: 5px solid #0065fc;
    padding-top: 65px;
  }

  .menu li:hover a {
    width: 100%;
    color: #0065fc;
  }

  h1 {
    font-size: 22px;
    margin-left: 60px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-left: 60px;
  }

  /* Search bar */
  .search-div {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 60px;
  }

  .search-form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  #Search {
    width: 250px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search-btn {
    height: 49px;
    width: 120px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 0 15px 15px 0;
  }

  .search-btn:hover {
    border: 1px solid white;
  }

  .search-display {
    display: none;
  }

  .search-icn {
    display: none;
  }

  .main-div {
    display: flex;
    flex-direction: row;
  }

  .cards-containers {
    width: 80%;
  }

  .most-popular {
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 50px;
    width: 100px;
  }

  .menu {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .menu li {
    height: 80px;
    width: 50%;
    text-align: center;
    padding-top: 40px;
    list-style-type: none;
    border-bottom: 5px solid #f2f2f2;
  }

  .menu li a {
    font-size: 16px;
    height: 80px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
  }
  .menu li:hover {
    border-bottom: 5px solid #0065fc;
  }

  .menu li:hover a {
    color: #0065fc;
  }

  h1 {
    margin: 30px 30px 0 20px;
    font-size: 22px;
  }

  h2 {
    margin: 20px 0 0 20px;
    font-size: 16px;
    font-weight: normal;
  }

  /* Search bar */
  .search-div {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
  }

  .search-form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  #Search {
    width: 230px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search-btn {
    height: 49px;
    width: 50px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 15px 15px 15px 15px;
  }

  .search-btn:hover {
    border: 1px solid white;
  }

  .search-mobile {
    display: none;
  }

  .search-icon-mobile {
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
    color: white;
  }

  /* Filters */
  .s-filters {
    flex-wrap: wrap;
    margin-left: 30px;
  }

  .filters {
    margin-left: -20px;
    justify-content: start;
  }

  /* Disclaimer section */
  .disclaimer {
    margin-left: 30px;
  }

  /* Card section */
  .card {
    width: 320px;
  }

  .main-div {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  .cards-containers {
    background-color: white;
    margin: 0;
    width: 100%;
  }

  .most-popular {
    margin: 0;
    width: 100%;
  }

  .mp-title {
    padding: 0;
  }
  .card-h1 {
    margin-left: 0;
  }

  .fa-chart-line {
    margin: 20px 0 0 0px;
  }

  .mcard {
    margin-top: 10px;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
  }

  footer div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px;
  }
}

/* Module */
/* State */
/* Theme */
