/* Base */

@media all {
  /* Activation de box-sizing */
  .box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  }

  * {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  p {
    font-family: "Raleway", sans-serif;
  }
}

a {
  text-decoration: none;
  color: black;
}

/* Layout */

/* Filters */
.s_filters {
  height: 100px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 60px;
}

.p_fil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: fit-content;
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}

.filters {
  height: 50%;
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: fit-content;
  font-size: 20px;
  color: black;
  font-weight: bold;
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filter a {
  font-size: 18px;
  width: fit-content;
}

.fa-money-bill-wave,
.fa-child,
.fa-dog,
.fa-heart {
  margin-left: -5px;
  padding: 15px 5px 5px 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #0065fc;
  background-color: #deebff;
}

.pad_icons {
  padding-right: 20px;
  margin-left: 15px;
}

/* PC */
@media (min-width: 992px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 120px;
    margin: 0 50px 0 50px;
    background-color: white;
  }

  .logo {
    height: 120px;
    width: 150px;
    padding: 50px 50px 30px 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 120px;
    width: 30%;
    margin: 0 30px 0 30px;
  }

  .menu li {
    height: 120px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 70px;
    list-style-type: none;
  }

  .menu li:hover {
    border-top: 5px solid #0065fc;
    padding-top: 65px;
  }

  .menu li:hover a {
    color: #0065fc;
  }

  h1 {
    font-size: 22px;
    margin-left: 60px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-left: 60px;
  }

  /* Search bar */
  .search_div {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 60px;
  }

  .search_form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search_icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  #Search {
    width: 250px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search_btn {
    height: 49px;
    width: 120px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 0 15px 15px 0;
  }

  .search_btn:hover {
    border: 1px solid white;
  }

  .search_display {
    display: none;
  }

  .search_icn {
    display: none;
  }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 992px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    margin: 0 50px 0 50px;
    background-color: white;
  }

  .logo {
    height: 120px;
    width: 150px;
    padding: 50px 50px 30px 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    width: 30%;
    margin: 0 50px 0 0px;
  }

  .menu li {
    height: 120px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 70px;
    margin: 0 10px 0 10px;
    list-style-type: none;
  }

  .menu li:hover {
    border-top: 5px solid #0065fc;
    padding-top: 65px;
  }

  .menu li:hover a {
    width: 100%;
    color: #0065fc;
  }

  h1 {
    font-size: 22px;
    margin-left: 60px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-left: 60px;
  }

  /* Search bar */
  .search_div {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 60px;
  }

  .search_form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search_icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  #Search {
    width: 250px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search_btn {
    height: 49px;
    width: 120px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 0 15px 15px 0;
  }

  .search_btn:hover {
    border: 1px solid white;
  }

  .search_display {
    display: none;
  }

  .search_icn {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Navigation bar */
  .navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 50px;
    width: 100px;
  }

  .menu {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .menu li {
    height: 80px;
    width: 50%;
    text-align: center;
    padding-top: 40px;
    list-style-type: none;
    border-bottom: 5px solid #f2f2f2;
  }

  .menu li a {
    font-size: 16px;
    height: 80px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
  }
  .menu li:hover {
    border-bottom: 5px solid #0065fc;
  }

  .menu li:hover a {
    color: #0065fc;
  }

  h1 {
    margin: 30px 30px 0 20px;
    font-size: 22px;
  }

  h2 {
    margin: 20px 0 0 20px;
    font-size: 16px;
    font-weight: normal;
  }

  /* Search bar */
  .search_div {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
  }

  .search_form {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .search_icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30% 0 0 30%;
  }

  #Search {
    width: 230px;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-size: 18px;
    color: black;
    outline: 0;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }

  .search_btn {
    height: 49px;
    width: 50px;
    color: white;
    font-weight: bold;
    background-color: #0065fc;
    border: 0;
    border-radius: 15px 15px 15px 15px;
  }

  .search_btn:hover {
    border: 1px solid white;
  }

  .search_mobile {
    display: none;
  }

  .search_icon_mobile {
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
    color: white;
  }

  /* Filters */
  .s_filters {
    flex-wrap: wrap;
  }

  .filters {
    margin-left: -20px;
    justify-content: start;
  }
}

/* Module */
/* State */
/* Theme */
